<settings version="2">
    <setting id="addon_debug" default="true">false</setting>
    <setting id="adult" default="true">false</setting>
    <setting id="auto-view">true</setting>
    <setting id="autoclean">true</setting>
    <setting id="autocleanfeq">3</setting>
    <setting id="autocleanwiz">true</setting>
    <setting id="buildname" default="true"></setting>
    <setting id="buildtheme" default="true"></setting>
    <setting id="buildversion" default="true"></setting>
    <setting id="clearcache">true</setting>
    <setting id="clearpackages">true</setting>
    <setting id="clearthumbs">true</setting>
    <setting id="debuglevel" default="true">0</setting>
    <setting id="default.addonupdate">2</setting>
    <setting id="default.enablerssfeeds">false</setting>
    <setting id="default.font">&quot;Default&quot;</setting>
    <setting id="default.rssedit">&quot;&quot;</setting>
    <setting id="default.skincolors">&quot;SKINDEFAULT&quot;</setting>
    <setting id="default.skintheme">&quot;SKINDEFAULT&quot;</setting>
    <setting id="default.skinzoom">0</setting>
    <setting id="default.soundskin">&quot;&quot;</setting>
    <setting id="default.startupwindow">10000</setting>
    <setting id="default.stereostrength">5</setting>
    <setting id="defaultskin" default="true"></setting>
    <setting id="defaultskinignore" default="true">false</setting>
    <setting id="defaultskinname" default="true"></setting>
    <setting id="developer" default="true">false</setting>
    <setting id="disableupdate">true</setting>
    <setting id="enable3rd">true</setting>
    <setting id="errors" default="true"></setting>
    <setting id="extract"></setting>
    <setting id="includeall">true</setting>
    <setting id="includevideo">true</setting>
    <setting id="installed" default="true">false</setting>
    <setting id="installmethod">2</setting>
    <setting id="keepadvanced">true</setting>
    <setting id="keepfavourites">true</setting>
    <setting id="keepmyvideos">true</setting>
    <setting id="keepprofiles" default="true">false</setting>
    <setting id="keeprepos" default="true">false</setting>
    <setting id="keepsources" default="true">false</setting>
    <setting id="keepsuper" default="true">false</setting>
    <setting id="kodi17iscrap"></setting>
    <setting id="lastbuildcheck">2016-01-01</setting>
    <setting id="latestversion" default="true"></setting>
    <setting id="nextautocleanup">2020-11-15</setting>
    <setting id="nextcleandate" default="true"></setting>
    <setting id="notedismiss">true</setting>
    <setting id="noteid">69</setting>
    <setting id="notify">true</setting>
    <setting id="path">/storage/DA18-EBFA/NVIDIA_SHIELD/copias_seguridad/</setting>
    <setting id="pvrclient" default="true"></setting>
    <setting id="seperate" default="true">false</setting>
    <setting id="show15" default="true">true</setting>
    <setting id="show17">false</setting>
    <setting id="show18">false</setting>
    <setting id="showmaint" default="true">false</setting>
    <setting id="viewType">50</setting>
    <setting id="wizard1name" default="true">NEXUS-BASE</setting>
    <setting id="wizard1url" default="true">https://smarturl.it/nexus_base</setting>
    <setting id="wizard2name" default="true">NEXUS-INTERFACE</setting>
    <setting id="wizard2url">https://smarturl.it/nexus_iu</setting>
    <setting id="wizard3name" default="true"></setting>
    <setting id="wizard3url" default="true"></setting>
    <setting id="wizardlog" default="true">false</setting>
    <setting id="wizlogcleanby">1</setting>
    <setting id="wizlogcleandays">1</setting>
    <setting id="wizlogcleanlines">1</setting>
    <setting id="wizlogcleansize">1</setting>
</settings>
